@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(78, 78, 78);
}

header{
    background-color: black;
    padding: 20px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    color: white;
}

.primeira-div{
    background-image: linear-gradient(to right, rgb(24, 22, 22), rgb(82, 15, 15));
    color: white;
    height: 200px;
    padding: 60px;
    font-family: "Kanit", sans-serif;
}